*.gem
*.rbc
.bundle
.config
.ruby-version
.ruby-gemset
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.pid
*.log
*.swp
*~
TODO
.todo
*.png
*.lock
experiments
.git2
*.stop
*sublime*
examples/work*.eye
script
[0-9].rb
*.cache
*.tmp
/vendor/
*.gz
.eye
